# URL to the CouchDB database (default: 'http://localhost:5984/')
DATABASE_URL = 'http://localhost:5984/'

# name of a user that can create tables in the CouchDB database (default: None)
DATABASE_USER = None

# password of the DATABASE_USER (default: None)
DATABASE_PASS = None

# prefix of Diarybot's databases in CouchDB (default: 'diarybot-')
DATABASE_PREFIX = 'diarybot-'
